<td data-hook="cart_item_description">

  <h4><%= link_to variant.product.name, product_path(variant.product) %></h4>

  <%= truncate(variant.product.description, :length => 100, :omission => "...") %>

  <%- if line_item.has_options? %>
    <ul class="line_item_options">
      <%- line_item.options.each do |option_type, option_value| %>
        <li>
          <span class="line_item_option_type"><%= option_type.presentation %></span>
          <span class="line_item_option_value"><%= option_value.presentation %></span>
        </li>
      <% end %>
    </ul>
  <% end %>

</td>
