<td data-hook="cart_item_description">

  <h4><%= link_to variant.product.name, product_path(variant.product) %></h4>

  <%= truncate(variant.product.description, :length => 100, :omission => "...") %>

  <%- if line_item.has_options? %>
    <%= render :partial => 'spree/shared/order_line_item_options', :locals => { :item => line_item } %>
  <% end %>

</td>
