<td data-hook="order_item_description">
  <h4><%= item.variant.product.name %></h4>
  <%= truncate(item.variant.product.description, :length => 100, :omission => "...") %>
  <%- if item.has_options? %>
    <%= render :partial => 'spree/shared/order_line_item_options', :locals => { :item => item } %>
  <% end %>
</td>
