    <ul class="line_item_options">
      <%- item.options.each do |option| %>
        <li>
          <span class="line_item_option_type"><%= option.type_presentation %></span>
          <span class="line_item_option_value"><%= option.value_presentation %></span>
        </li>
      <% end %>
    </ul>
